.field {
  display: inline-flex;
  border: 1px solid #e2e2e2;
  width: 25px;
  height: 25px;
  background: #f4f4f4;
  align-items: center;
  justify-content: center;
  color: transparent;
  cursor: pointer; }

.open {
  color: #000;
  background: #fff;
  cursor: initial; }
  .open.bombs-1 {
    color: #6189f4; }
  .open.bombs-2 {
    color: #1ba34f; }
  .open.bombs-3 {
    color: #6c1aa2; }
  .open.bombs-4 {
    color: #d18c04; }
  .open.bombs-5 {
    color: #d14b03; }
  .open.bombs-6, .open.bombs-7, .open.bombs-8 {
    color: #d11402; }
